@import "./variable.scss";

html, body {
	background: $c-bg;
	color: $c-text;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after{
	content:" "; 
	display:table; 
	clear:both;
}
.clearfix{
	zoom:1;
}